div card {
    display: flex;
    width: 370px;
    height: 200px;
    background-color: rgba(203, 232, 245, 0.817);
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    transition: transform 0.3s ease;
    animation: bounce 0.3s;
}

div.card > div.left {
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



@keyframes bounce {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}